/*MAIN CSS*/
body {
  background-color:white;
  color:white;
  z-index:-1;
  overflow-x:hidden;
  width:100%;
}

nav {
  z-index:999000;
  position:fixed;
  top:0;
  left:0;
  background-color:rgb(229, 89,87);
  opacity:0.9;
}

#hamburger {
  display:none;
}

#mobile {
  display:none;
}

/*HOME DIV*/

#home-div {
  height:100vh;
  background:url(../images/tealstar.jpg);
  background-size:cover;
  font-family: 'Sansita One', cursive;
  text-align:center;
  padding-top:19rem;
  background-color:white;
}

#name {
  font-size:80px;
  text-shadow:1px 2px 2px white;
  color:rgb(72,70,72);
  border-radius: 6px;
  background-color:rgba(229, 89, 87, 0.8);
  padding:20px;
}

#occupation {
  font-size:40px;
  font-family:sans-serif;
  font-weight:400;
  text-shadow:1px 2px 2px white;
  color:rgb(72,70,72);
  margin-top:45px;
  border-radius: 6px;
  background-color: rgba(229, 89, 87, 0.8);
}

.options {
  font-size:40px;
  font-family:sans-serif;
  font-weight:400;
  text-shadow:1px 2px 2px white;
  color:rgb(72,70,72);
}

.name {
  font-family:sans-serif;
  font-size:18px;
}

.links {
  font-family:sans-serif;
  font-weight:300;
  font-size:18px;
}

.links:hover {
  background-color:rgb(114,191,182);
  height:63.5px;
  color:white;
  font-weight:400;
}

.keyboard_arrow_down {
  font-size:55px;
  color:white;
  border:1px solid white;
  border-radius:50%;
  padding-top:3px;
  margin-top:20px;
}

.keyboard_arrow_down:hover,
.keyboard_arrow_down:focus {
  color:rgb(0,128,128);
  border:1px solid rgb(0,128,128);
}

/*WORK DIV*/

#work-div {
  left:0;
  right:0;
  height:auto;
  min-height: 100vh;
  background-color:white;
  z-index:-1;
  padding-top:75px;
  text-align:center;
}

.work-header {
  font-size:45px;
  font-family:sans-serif;
  font-weight:300;
  color:rgb(0,128,128);
}

#work-selection {
  position:relative;
  width:100%;
  display:table;
}

.work-thumbnail {
  width:18% !important;
  position:relative;
  margin:2.7%;
  border:4px solid white;
  border-radius:5px;
  padding:4px;
}

.work-thumbnail:hover,
.work-thumbnail:focus {
  opacity:0.8;
  border-radius:5px;
  padding:4px;
}

#doggie-thumb {
  border:4px solid rgb(0,128,128);
}

.imac-img {
  width:35.95%;
  height:auto;
  position:absolute;
  left:6.082%;
  margin-top:1.55%;
  margin-left:1.8%;
  z-index:1;
}

#imac {
  width:39%;
  height:auto;
  position:absolute;
  left:6.3%;
  z-index:0;
}

.project-header {
  font-size:38px;
  font-weight:500;
  color:rgb(0,128,128);
  width:45%;
  margin-left:55%;
}

.projectSite {
  left:40.5%;
}

.project-details {
  color:rgb(72,70,72);
  font-weight:300;
}

#doggie-details, 
#dance-details, 
#vagabond-details, 
#love-details {
  text-align:left;
  width:95%;
  padding-left:50px;
}

.detail {
  margin-left:55%;
  width:45%;
  font-size:20px;
}

.hidden {
  display:none;
}

.show {
  display:block;
}

.site-link {
  margin-bottom:20px;
  font-size:15px;
  margin-left:14.7%;
  margin-top:5px;
  font-weight:500;
  color:rgb(0,128,128);
  z-index:0;
}

/*FREELANCE DIV*/

#freelance-div {
  left:0;
  right:0;
  background-color:#b2dfdb;
  z-index:-1;
  padding-top:50px;
  padding-bottom: 50px;
  text-align:center;
  margin-top: 10px;
}

.freelance-header {
  font-size:45px;
  font-family:sans-serif;
  font-weight:300;
  color:rgb(0,128,128);
}

#freelance-selection {
  color: rgb(0,128,128);
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px;
  position: relative;
}

.card-container {
  margin-bottom: 0;
  padding: 0 2rem 1rem !important;
  width: 50%;
  float: left;
  display: block;
}

.card {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: block;
  text-decoration: none;
}

.card:hover {
  box-shadow: 10px 10px 10px rgba(0, 140, 186, 0.5);
}

.artwork {
  width: 100%;
}

.text-container {
  color: rgb(0,128,128);
  min-height: 15em;
  padding: 1em 0.8em 1em;
  position: relative;
}

.text-container h5 {
  margin-top: 0.5em;
  font-size: 25px;
  line-height: 1.4em;
  font-weight: 500;
}

.text-container p {
  font-size: 19px;
  margin: 0.8em 0 0;
  color: rgb(72,70,72);
  text-align: left;
}

.btn {
  text-transform: none;
  background-color: teal;
}

.modal-content div p {
  color: rgb(72,70,72);
  font-size: 1.3em;
}

/*CONTACT DIV*/

#contact-div {
  left:0;
  right:0;
  height:auto;
  background-color:rgb(0,128,128);
  z-index:-1;
  padding-top:65px;
  padding-bottom:15px;
}

.row {
  margin-bottom:0;
}

#img-div,
#icons-div {
  text-align: center;
}

#headshot {
  width:250px;
  height:auto;
  border-radius:50%;
  margin-top:30px;
  padding:6px;
  position:relative;
}

#hello {
  font-weight:300;
}

#contact-details p {
  font-family:sans-serif;
  font-weight:300;
  color:white;
  font-size:18px;
}

.skill-div {
  left:0;
  right:0;
  height:300px;
  background-color: #4aaaa5;
  z-index:-1;
  padding-top:15px;
  margin-top: 5px;
  margin-bottom:0;
  text-align: center;
}

.skill {
    color:white;
    font-size:18px;
    display:inline-block;
    border: 1px solid rgb(133, 130, 130);
    padding:8px;
    margin-bottom: 10px;
    margin-top:5px;
    margin-right:10px;
    border-radius:5px;
    background:rgb(133, 130, 130);
}

hr.style-one {
    background-color: #b0b9b9;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(255,255,255, 0));
    padding: 0;
    margin:0;
}
 

hr.style-two {
    background-color: #4aaaa5;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(255,255,255, 0));
    max-width: 50px;
}

#resume:hover {
  background-color:rgb(114,191,182);
  border-color: rgb(0,128,128);
}

.icons {
  width:50px;
  margin-left:10px;
  margin-top:10px;
  margin-bottom:5px;
  margin-right:10px;
}

.card {
  position:relative;
  height:60%;
}

#more-details {
  margin-bottom:20px;
}

#contact-details #main-details {
  font-size:24px;
}